[Unit]
Description=Poll ephemeral GitHub Actions runners for recycling

[Timer]
OnBootSec=120
OnUnitInactiveSec=120

[Install]
WantedBy=timers.target
